.comment {
  background-color: rgb(207, 198, 255);
  width: 200px;
  height: 100px;
  border: 1px solid rgba(100, 100, 100, 0.5);
  display: grid;
  place-items: center;
  overflow: scroll;
  padding: 5px;
  text-align: center;
  margin: 0px 0px;
}
