#newStickyFormDiv {
  position: fixed;
  bottom: 6vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#newStickyForm {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  width: fit-content;
  border: 1px solid black;
}

#newStickyForm > input {
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1vw 2vw;
  margin: 1vw 1vw;
  width: 50vw;
}

#newStickyForm > button {
  border-radius: 50px;
  border: none;
  background-color: rgb(255, 242, 62);
  border: 1px solid white;
  padding: 1vw 2vw;
  margin: 1vw 1vw;
}
