#newStickyFormDiv {
  position: fixed;
  bottom: 6vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#newStickyForm {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  width: fit-content;
}

#newStickyForm > input {
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1vw 2vw;
  margin: 1vw 1vw;
  width: 50vw;
}

#newStickyForm > button {
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 227, 100, 0.925);
  box-shadow: 0 0 10px 5px rgba(255, 242, 121, 0.8);
  padding: 1vw 2vw;
  margin: 1vw 1vw;
}
