.voteCount {
  position: fixed;
  top: -12px;
  right: -15px;
  border-radius: 20px;
  padding: 0px 7px 2px 7px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(128, 31, 255, 0.8);
  color: white;
}
