#timerDiv {
  position: fixed;
  bottom: 6vh;
  right: 2vw;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 50px;
  padding: 1vw 2vw;
  height: 3vh;
  min-width: 50px;
  width: 3vw;
  display: grid;
  place-content: center;
  color: rgba(255, 255, 255, 1);
}
