.loginSignupBackground {
  background-color: rgb(227, 205, 255);
  background-image: linear-gradient(
    rgba(47, 0, 255, 0.5),
    rgba(119, 0, 255, 0)
  );
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  /* display: grid;
    place-items: center; */
}

.loginSignupContainer {
  /* background-color: rgba(255, 255, 255, 0.4); */
  border-radius: 50px;
  text-align: center;
  margin: 2vw;
  padding: 15vh 5vh 10vh 5vh;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  transform: scaleX(1.5);
}

.loginSignupGroup {
  /* background-color: rgba(255, 255, 255, 0.4); */
  border-radius: 50px;
  text-align: center;
  width: 50%;
  margin: 1vw;
  padding: 2vw 0;
}

.form-group > input {
  /* border-radius: 50px; */
  border: none;
  border-bottom: 1px solid black;
  background-color: rgba(255, 255, 255, 0);
  padding: 1vw 2vw;
  margin: 0.5vw;
}

.login > button,
.signup > button {
  border-radius: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 1vw 2vw;
  margin: 5vh 0 0 0;
  /* box-shadow: 0 0 10px 2px rgba(102, 19, 255, 0.2); */
}

#goToSignupButton {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  background-color: white;
  width: fit-content;
  padding: 2vh 2vw;
  font-size: 0.9em;
}
