.whiteboard {
  min-height: 110vh;
  min-width: 110vw;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 12px;
}

/* .blotchDiv {
  position: fixed;
  bottom: 230px;
  left: -30px;
  height: 300px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blotch {
  width: 3vw;
  height: 3vw;
  border-radius: 50px;
  margin: 10px;
  filter: blur(8px);
  border: 2px solid black;
}
.blotch1 {
  background-color: rgb(250, 231, 57);
  background-image: linear-gradient(rgb(255, 245, 108), rgb(255, 182, 87));
}
.blotch2 {
  background-color: rgb(255, 87, 123);
  background-image: linear-gradient(rgb(255, 150, 108), rgb(255, 87, 123));
}
.blotch3 {
  background-color: rgb(250, 231, 57);
  background-image: linear-gradient(rgb(170, 87, 255), rgb(108, 111, 255));
}

.whiteboard.phase1 > .blotchDiv > .blotch1 {
  opacity: 100%;
}
.whiteboard.phase1 > .blotchDiv > .blotch2 {
  opacity: 30%;
}
.whiteboard.phase1 > .blotchDiv > .blotch3 {
  opacity: 30%;
}

.whiteboard.phase2 > .blotchDiv > .blotch1 {
  opacity: 30%;
}
.whiteboard.phase2 > .blotchDiv > .blotch2 {
  opacity: 100%;
}
.whiteboard.phase2 > .blotchDiv > .blotch3 {
  opacity: 30%;
}

.whiteboard.phase3 > .blotchDiv > .blotch1 {
  opacity: 30%;
}
.whiteboard.phase3 > .blotchDiv > .blotch2 {
  opacity: 30%;
}
.whiteboard.phase3 > .blotchDiv > .blotch3 {
  opacity: 100%;
} */

/* 
.whiteboard.phase1 {
  background: repeating-linear-gradient(
    -45deg,
    rgba(255, 153, 0, 0.2) 10px,
    rgba(255, 252, 55, 0.2) 20px
  );
  background-color: rgb(255, 255, 255);
}
.whiteboard.phase2 {
  background: repeating-linear-gradient(
    -45deg,
    rgba(255, 30, 0, 0.2) 10px,
    rgba(255, 55, 115, 0.1) 20px
  );
}
.whiteboard.phase3 {
  background: repeating-linear-gradient(
    -45deg,
    rgba(0, 17, 255, 0.2) 10px,
    rgba(98, 55, 255, 0.2) 20px
  );
}
.whiteboard.phasefinished {
  background: repeating-linear-gradient(
    -45deg,
    rgba(0, 17, 255, 0.2) 10px,
    rgba(98, 55, 255, 0.2) 20px
  );
  background-color: rgb(219, 219, 219);
}
*/

.whiteboard.phase1 > .blotch1 {
  position: fixed;
  top: -30vh;
  right: 15vw;
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  background-color: rgba(255, 175, 4, 0.65);
  filter: blur(5vw);
}
.whiteboard.phase1 > .blotch2 {
  position: fixed;
  top: -30vh;
  left: 15vw;
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  background-color: rgba(255, 215, 40, 0.65);
  filter: blur(5vw);
}

.whiteboard.phase2 > .blotch1 {
  position: fixed;
  top: -30vh;
  right: 15vw;
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  background-color: rgba(255, 64, 39, 0.65);
  filter: blur(5vw);
}
.whiteboard.phase2 > .blotch2 {
  position: fixed;
  top: -30vh;
  left: 15vw;
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  background-color: rgba(255, 34, 82, 0.45);
  filter: blur(5vw);
}

.whiteboard.phase3 > .blotch1 {
  position: fixed;
  top: -30vh;
  right: 15vw;
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  background-color: rgba(12, 28, 247, 0.6);
  filter: blur(5vw);
}
.whiteboard.phase3 > .blotch2 {
  position: fixed;
  top: -30vh;
  left: 15vw;
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  background-color: rgba(108, 45, 255, 0.6);
  filter: blur(5vw);
}

.whiteboard.phasefinished {
  background-color: rgba(21, 37, 255, 0.1);
}
.whiteboard.phasefinished > .blotch1 {
  position: fixed;
  top: -20vw;
  right: 0vw;
  width: 50vw;
  height: 50vw;
  border-radius: 20vw;
  background-color: rgba(255, 38, 85, 0.5);
  filter: blur(5vw);
}
.whiteboard.phasefinished > .blotch2 {
  position: fixed;
  top: 5vh;
  left: -10vw;
  width: 50vw;
  height: 50vw;
  border-radius: 20vw;
  background-color: rgba(64, 30, 255, 0.5);
  filter: blur(5vw);
}
.whiteboard.phasefinished > .blotch3 {
  position: fixed;
  bottom: -20vw;
  right: 5vw;
  width: 65vw;
  height: 60vw;
  border-radius: 20vw;
  background-color: rgba(21, 37, 255, 0.6);
  filter: blur(5vw);
}

div:focus {
  outline: none;
}
