.voteStickyButton {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 20px;
  padding: 1px 7px 5px 8px;
  border: 1px solid white;
  background-color: rgba(98, 31, 255, 0.8);
  color: white;
  font-size: 1em;
}
