.phaseIntroBackground {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  place-items: center;
}

.phaseIntro {
  width: 50vh;
  height: 50vh;
  display: grid;
  place-items: center;
  text-align: center;
  margin: 10vh 10vw;
  color: black;
  border-radius: 500px;
  font-size: 1em;
  font-weight: bold;
  transform: scaleX(1.2);
}

.introGroup {
  margin: 2vh 0;
}

.introGroup1 {
  text-align: left;
  width: 100%;
}

.phaseTitle {
  font-family: "Suranna", serif;
  transform: scaleX(1.5) skew(-2deg);
  font-size: 2.3em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 65%;
  text-align: center;
  margin: 0 auto;
}

.nextPhaseButton {
  position: fixed;
  bottom: 18vh;
  right: 25vw;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  padding: 2vh 3vw;
  border-radius: 50px;
  border: 1px solid black;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  transform: scaleX(1.5);
}
