.phaseIntroBackground {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  place-items: center;
}

.phaseIntro {
  width: 50vh;
  height: 50vh;
  display: grid;
  place-content: center;
  text-align: center;
  margin: 10vh 10vw;
  color: black;
  border-radius: 500px;
  font-size: 1.1em;
}

.introGroup {
  margin: 2vh 0;
}

.introGroup1 {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
}

.nextPhaseButton {
  position: fixed;
  bottom: 15vh;
  right: 20vw;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5vh 10vw;
  border-radius: 50px;
  border: none;
}
