.phaseIntro.phase2 {
  background-color: rgba(255, 59, 124, 0.8);
  background-image: radial-gradient(
    /* rgb(255, 225, 234),
    rgb(255, 191, 212),
    rgba(255, 110, 74, 0.8),
    rgba(255, 59, 124, 0.8) */
      rgb(255, 225, 225),
    rgb(255, 205, 216),
    rgba(255, 162, 139, 0.8),
    rgba(255, 132, 159, 0.8)
  );
  box-shadow: 0px 0px 30px 10px rgba(255, 132, 159, 0.8);
}
